<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Trip Bus 🚌</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>
<body>

    <header class="header">
        <h1>🚌 Trip <span class="highlight">Bus</span></h1>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>© 2026 Trip Bus</p>
    </footer>

</body>
</html>